button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    height: 50px;
    width: 50px;

    // transition: background-color 0.1s ease-in-out;
    &:hover {
        background-color: #e5e5e5;
        color: #151515;
    }

    &.equals {
        // grid-column: 3 / 5;
        background-color: #ff6431;

        &:hover {
            background-color: rgb(228, 39, 15);
        }
    }

    &.math-operator {
        border: none;
        background-color: #e5e5e5;
        font-size: 24px;
        color: #151515;
        font-weight: bold;
        cursor: pointer;
        border-radius: 50%;
        outline: none;
        height: 50px;
        width: 50px;

        &:hover {
            background-color: #ff6431;
            color: white;
        }
    }
}