.screen-wrapper {
    background-color: #4357692d;
    color: white;
    padding: 1rem;
}

.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    // background-color: #4357692d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}